.wrapper_with_padding
	#notes_show
		%h1.title= @note.title
		%p= simple_format(@note.content)

	%br/
	.buttons
		= link_to "Back", notes_path, class: "button"
		= link_to "Edit", edit_note_path(@note), class: "button"
		= link_to "Delete", note_path, method: :delete, data: { confirm: "Sure?" }, class: "button"